<h2 mat-dialog-title>Auxilio Funerario
    <mat-icon matTooltip="Debes ingresar los valores correspondientes a los pagos que te hayan realizado por este concepto.">description</mat-icon>
    </h2>
    <mat-dialog-content class="mat-typography">
    
      <form [formGroup]="contactForm"(ngSubmit)="funerariosForm($event)">  
      <ul>
        <li>
            <h3>Ingresa el valor del pago por gastos de entierro que recibiste durante el 2019:</h3>  
            <div class="container">
              <div class="row">       
                <div class="col-sm">
                  <mat-form-field >         
                    <mat-label>Ingresa valor</mat-label>
                    <input matInput placeholder="Ingresa un valor" type="number"
                    formControlName="funerarios">
                  </mat-form-field>  
                  <mat-error *ngIf="contactForm.get('funerarios').hasError('required')
                  && contactForm.get('funerarios').touched">
                    Campo requerido
                  </mat-error>       
                </div>
                <div class="col-sm">
                  <div class="container3">
                    <p>${{contactForm.value.funerarios | number:"2.1-2"}}</p>
                  </div>      
                </div>
              </div>
            </div>
            <mat-divider></mat-divider>
          </li> 
        </ul>
      </form>    
      
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Salir</button>
      <button mat-button type="submit" (click)="funerariosForm($event)"[disabled]="contactForm.invalid"
      mat-flat-button color="primary" cdkFocusInitial>Guardar respuestas
    </button>
    </mat-dialog-actions>