<h2 mat-dialog-title>MEDICINA PREPAGADA
    <mat-icon matTooltip="Debes ingresar los valores totales recibidos a tu favor en el año 2019, reconocidos dentro del proceso de liquidación de sociedad conyugal.">description</mat-icon>
  </h2>
  <mat-dialog-content class="mat-typography">
  
    <ul>
     <h4>Por favor diligencia la siguiente información:</h4>
 <form [formGroup]="contactForm"(ngSubmit)="prepagadaForm($event)">
    <li>
      <h3>Valor total pagado en el 2019, incluyendo IVA:</h3>  
      <div class="container">
        <div class="row">         
          <div class="col-sm">
            <mat-form-field >         
              <mat-label>Ingresa un valor</mat-label>
              <input matInput placeholder="Ingresa un valor" type="number"
              formControlName="valorMedicinaPrepagada">
            </mat-form-field> 
            <mat-error *ngIf="contactForm.get('valorMedicinaPrepagada').hasError('required')
            && contactForm.get('valorMedicinaPrepagada').touched">
              Campo requerido
            </mat-error>       
          </div>
    
          <div class="col-sm">
            <div class="container3">
              <p>${{contactForm.value.valorMedicinaPrepagada | number:"2.1-2"}}</p>
            </div>      
          </div>    
        </div>
      </div>
      <mat-divider></mat-divider>
    </li>
  </form>
    </ul>
    
   
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Salir</button>
  <button mat-button type="submit" (click)="prepagadaForm($event)"
  mat-flat-button color="primary">Guardar respuestas
</button>
</mat-dialog-actions>
