<h2 mat-dialog-title>INFORMACIÓN DE CUENTA(S) DE AHORRO 
  <mat-icon matTooltip="Debes ingresar los valores totales de todas tus cuentas de ahorro">description</mat-icon>
</h2>

<mat-dialog-content class="mat-typography">

  <form [formGroup]="contactForm" (ngSubmit)="ahorros($event)">
  <ul>
   <h4>Por favor responde las siguientes preguntas:</h4>
    
    <li>
    <h3>Saldo a 31 dic 2019 - Totales</h3>  
    <div class="container">
      <div class="row">           
  
        <div class="col-sm">
          <mat-form-field >         
            <mat-label>Saldo Total </mat-label>
            <input matInput placeholder="Ingresa un valor" type="number"
            formControlName="saldoAhorros">
          </mat-form-field>
          <mat-error *ngIf="contactForm.get('saldoAhorros').hasError('required')
          && contactForm.get('saldoAhorros').touched" >
            Campo requerido
          </mat-error>                 
        </div>
  
        <div class="col-sm">
          <div class="container3">
         <p>${{contactForm.value.saldoAhorros | number:"2.1-2"}}</p>
          </div>      
        </div>  
      </div>
    </div>
    <mat-divider></mat-divider>
  </li>
  
  <li>
    <h3>Rendimientos financieros o intereses pagados -Totales</h3>  
    <div class="container">
      <div class="row">      
        <div class="col-sm">
          <mat-form-field >         
            <mat-label>Rendimientos</mat-label>
            <input matInput placeholder="Ingresa un valor" type="number"
            formControlName="interesesAhorros">
          </mat-form-field>  
          <mat-error *ngIf="contactForm.get('interesesAhorros').hasError('required')
          && contactForm.get('interesesAhorros').touched">
            Campo requerido
          </mat-error>              
        </div>
  
        <div class="col-sm">
          <div class="container3">
          <p>${{contactForm.value.interesesAhorros | number:"2.1-2"}}</p>            
          </div>      
        </div>  
      </div>
    </div>
    <mat-divider></mat-divider>
  </li> 

  <li>
    <h3>Valor retención en la fuente renta - Totales</h3>  
    <div class="container">
      <div class="row">       
        <div class="col-sm">
          <mat-form-field >         
            <mat-label>Retención</mat-label>
            <input matInput placeholder="Ingresa un valor" type="number"
            formControlName="retencionAhorros">
          </mat-form-field>  
          <mat-error *ngIf="contactForm.get('retencionAhorros').hasError('required')
          && contactForm.get('retencionAhorros').touched">
            Campo requerido
          </mat-error>             
        </div>
  
        <div class="col-sm">
          <div class="container3">
       <p>${{contactForm.value.retencionAhorros | number:"2.1-2"}}</p>
          </div>      
        </div>
  
      </div>
    </div>
    <mat-divider></mat-divider>
  </li> 
  
  <li>
    <h3>Valor GMF - Totales</h3><h6>(Gravamen Movimientos Financieros ó 4 x 1000)</h6>
    <div class="container">
      <div class="row">           
  
        <div class="col-sm">
          <mat-form-field >         
            <mat-label>*Esta información es opcional</mat-label>
            <input matInput placeholder="Ingresa un valor" type="number"
            formControlName="GMFAhorros">
          </mat-form-field>        
        </div>
  
        <div class="col-sm">
          <div class="container3">
          <p>${{contactForm.value.GMFAhorros | number:"2.1-2"}}</p>
              
          </div>      
        </div>
  
      </div>
    </div>
    <mat-divider></mat-divider>
  </li>
  </ul>
</form>
 
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Salir</button>
  <button mat-button type="submit" (click)="ahorros($event)"
  mat-flat-button color="primary" cdkFocusInitial>Guardar respuestas
</button>
</mat-dialog-actions>

