.container3{
    background-color: rgb(251, 251, 122);
  }
  .container2{
    background-color: lightblue;
  }
  .mat-dialog-title{
   text-align: center;
  }

  mat-form-field {
    margin-right: 12px;
  }