<h2 mat-dialog-title>INFORMACIÓN DE COMPRA BIENES RAICES 
    <mat-icon matTooltip="Debes ingresar los valores requeridos por cada bien raíz  reportar de manera individual">description</mat-icon>
  </h2>
  <mat-dialog-content class="mat-typography">
    <br>

     <!--********-->
    <div class="container" style="text-align: center;">
        <div class="row">
          <div class="col-sm">
            <h4>¿Cuántos bienes inmuebles aparecían a tu nombre a 31 de diciembre de 2019?</h4>
            <mat-form-field appearance="fill">
              <mat-label>Seleccione</mat-label>
              <mat-select (selectionChange)="eventoNumeroInmuebles($event)">
                <mat-option *ngFor="let numb of numbers" [value]="numb.codigo">{{numb.texto}}</mat-option>
              </mat-select>
            </mat-form-field>                       
        </div>
      </div>
    </div>
    <br>

<!--**************************Start Inmueble 1*************************--> 
<form [formGroup]="contactForm" (ngSubmit)="bienRaiz($event)">
    <ol class="inmueble1">
     <h2 class="color" style="text-align: center;"><strong>Bien Raiz No.1</strong></h2> 

     <li>
      <div class="container">
        <div class="row">    
          <div class="col-sm">
            <h3>¿Viviste en este bien raíz?</h3>  
            </div> 
            <div class="col-sm">          
            <mat-form-field appearance="">
                <mat-label>Seleccione</mat-label>
                <mat-select formControlName="vivirBienRaiz">
                  <mat-option *ngFor="let op of options" [value]="op.codigo">{{op.texto}}</mat-option>
                </mat-select>
              </mat-form-field> 
              <mat-error *ngIf="contactForm.get('vivirBienRaiz').hasError('required')
              && contactForm.get('vivirBienRaiz').touched" >
                Campo requerido
              </mat-error> 
            </div>    
          </div>
        </div>
    </li>
    <mat-divider></mat-divider>
    <br>

    <li>
      <div class="container">
        <div class="row">    
          <div class="col-sm">
            <h3>¿Eres el único titular de este bien raíz?</h3>  
            </div> 
            <div class="col-sm">          
            <mat-form-field appearance="">
                <mat-label>Seleccione</mat-label>
                <mat-select (selectionChange)="eventoBienRaiz1($event)"
                 formControlName="titularBienRaiz">
                  <mat-option *ngFor="let op of options" [value]="op.codigo">{{op.texto}}</mat-option>
                </mat-select>
              </mat-form-field>  
              <mat-error *ngIf="contactForm.get('titularBienRaiz').hasError('required')
              && contactForm.get('titularBienRaiz').touched">
                Campo requerido
              </mat-error>               
            </div>    
          </div>
        </div>
    </li>
    <mat-divider></mat-divider>
    <br>

    <div *ngIf="bienRaiz1">
        <h3>¿Cuál es el porcentaje  de este bien inmueble que te corresponde?</h3>  
      <div class="container">
        <div class="row">        
          <div class="col-sm">
            <mat-form-field >         
              <mat-label>Porcentaje</mat-label>
              <input matInput placeholder="Ej.50%" type="number" 
              formControlName="porcentajeBienRaiz">
            </mat-form-field>        
          </div>
    
          <div class="col-sm">
            <div class="container3">
              <p>{{contactForm.value.porcentajeBienRaiz | number:"2.1-2"}}%</p>
            </div>      
          </div>
    
        </div>
      </div>
      <mat-divider></mat-divider>       
    </div>

    <h2><strong>Valor fiscal #1: Costo de adquisición</strong></h2>
    
    <li>        
        <div class="container">
          <div class="row">    
            <div class="col-sm">
              <h3>¿Adquiriste este bien raiz antes del año 2019?</h3>
              </div>
              <div class="col-sm">
              <mat-form-field appearance="">
                  <mat-label>Seleccione</mat-label>
                  <mat-select (selectionChange)="eventoCompraBienRaiz2($event)"
                  formControlName="adquisicionBienRaiz">
                    <mat-option *ngFor="let op of options" [value]="op.codigo">{{op.texto}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-error *ngIf="contactForm.get('adquisicionBienRaiz').hasError('required')
                && contactForm.get('adquisicionBienRaiz').touched" >
                  Campo requerido
                </mat-error>    
              </div>
              </div>
             <mat-divider></mat-divider>   


             <div *ngIf="bienRaiz2">
              <h3>¿Fecha en que compraste el bien raiz(aproximada)?</h3>  
              <div class="container">
                <div class="row">            
                  <mat-form-field color="accent" appearance="fill">
                    <mat-label>Selecciona una fecha</mat-label>
                    <input matInput [matDatepicker]="picker1"
                     formControlName="fechaAdquisicionBienRaiz">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1 ></mat-datepicker>
                  </mat-form-field> 
                  <mat-error *ngIf="contactForm.get('fechaAdquisicionBienRaiz').hasError('required')
                && contactForm.get('fechaAdquisicionBienRaiz').touched" >
                  Campo requerido
                </mat-error>                              
                </div>                  
            </div>
          </div>

        </div>
      </li>
      <mat-divider></mat-divider>
      <br>


      <li>
        <h3>Precio de compra:</h3>  
        <div class="container">
          <div class="row">         
            <div class="col-sm">
              <mat-form-field >         
                <mat-label>Valor</mat-label>
                <input matInput placeholder="Ingresa un valor" type="number" 
                formControlName="precioCompraBienRaiz">
              </mat-form-field>  
              <mat-error *ngIf="contactForm.get('precioCompraBienRaiz').hasError('required')
              && contactForm.get('precioCompraBienRaiz').touched" >
                Campo requerido
              </mat-error>      
            </div>
      
            <div class="col-sm">
              <div class="container3">
                <p>${{contactForm.value.precioCompraBienRaiz | number:"2.1-2"}}</p>
              </div>      
            </div>
      
          </div>
        </div>
        <mat-divider></mat-divider>
      </li> 


      <li>
        <div class="container">
          <div class="row">    
            <div class="col-sm">
              <h3>¿Realizaste mejoras a este bien desde la fecha de adquisición hasta el 31 de diciembre de 2019?</h3>  
              </div>
              <div class="col-sm">
              <mat-form-field appearance="">
                  <mat-label>Seleccione</mat-label>
                  <mat-select (selectionChange)="eventoCompraBienRaiz4($event)"
                   formControlName="mejorasBienRaiz">
                    <mat-option *ngFor="let op of options" [value]="op.codigo">{{op.texto}}</mat-option>
                  </mat-select>
                </mat-form-field> 
                <mat-error *ngIf="contactForm.get('mejorasBienRaiz').hasError('required')
                && contactForm.get('mejorasBienRaiz').touched" >
                  Campo requerido
                </mat-error>   
              </div>   
            </div>
          </div>
      </li>
      <mat-divider></mat-divider>    
  
  
    <div *ngIf="bienRaiz4">
      <h3>Mejoras y valorizaciones realizadas a este bien hasta el 31 de diciembre 2019:</h3>  
      <div class="container">
        <div class="row">           
    
          <div class="col-sm">
            <mat-form-field >         
              <mat-label>Valor mejoras y valorizaciones</mat-label>
              <input matInput placeholder="Ingresa un valor" type="number"
              formControlName="valorMejorasBienRaiz">
            </mat-form-field>        
          </div>
    
          <div class="col-sm">
            <div class="container3">
              <p>${{contactForm.value.valorMejorasBienRaiz | number:"2.1-2"}}</p>
            </div>      
          </div>
    
        </div>
      </div>
    </div>
  


      <div *ngIf="bienRaiz2">        
        <h2><strong>Valor fiscal #2: Reajuste de valor</strong></h2>  
        <li>  
          <div class="container">
            <div class="row">    
              <div class="col-sm">
                <h3>¿Sabes el valor por el cuál reportaste este bien en la declaración de renta del año gravable 2018?</h3>
                </div>
                <div class="col-sm">
                <mat-form-field appearance="">
                    <mat-label>Seleccione</mat-label>
                    <mat-select (selectionChange)="eventoCompraBienRaiz3($event)">
                      <mat-option *ngFor="let op of options" [value]="op.codigo">{{op.texto}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>      
              </div>
            </div>
        </li>        
        </div>
        <mat-divider></mat-divider>

  <div *ngIf="bienRaiz3">    
      <h3>Valor reportado en la declaración de renta del año gravable 2018 por este bien (ingresa sólamente el valor correspondiente al porcentaje que te pertenece)</h3>  
      <div class="container">
        <div class="row">        
          <div class="col-sm">
            <mat-form-field >         
              <mat-label>Valor declarado</mat-label>
              <input matInput placeholder="Ingresa un valor" type="number"formControlName="valorDeclaracionBienRaiz">
            </mat-form-field>        
          </div>
    
          <div class="col-sm">
            <div class="container3">
              <p>${{contactForm.value.valorDeclaracionBienRaiz | number:"2.1-2"}}</p>
            </div>      
          </div>
    
        </div>
      </div>
      <mat-divider></mat-divider>


      <h3>Mejoras y valorizaciones a este bien desde el 1° de enero del 2019 hasta el 31 de diciembre de 2019:</h3>  
      <div class="container">
        <div class="row">           
    
          <div class="col-sm">
            <mat-form-field >         
              <mat-label>(*Este valor es opcional)</mat-label>
              <input matInput placeholder="Ingresa un valor" type="number"formControlName="mejoras2019BienRaiz">
            </mat-form-field>        
          </div>
    
          <div class="col-sm">
            <div class="container3">
              <p>${{contactForm.value.mejoras2019BienRaiz | number:"2.1-2"}}</p>
            </div>      
          </div>
    
        </div>
      </div>

  </div>    
    
</ol>
</form>

<!--**************************Finish Inmueble 1*************************--> 

<!--**************************Start Inmueble 2******************-->

  <form [formGroup]="contactForm" (ngSubmit)="bienRaiz($event)">
    <ol *ngIf="inmueble2">
      <h2 class="color" style="text-align: center;"><strong>Bien Raiz No.2</strong></h2>
     <li>
      <div class="container">
        <div class="row">    
          <div class="col-sm">
            <h3>¿Viviste en este bien raíz?</h3>  
            </div> 
            <div class="col-sm">          
            <mat-form-field appearance="">
                <mat-label>Seleccione</mat-label>
                <mat-select formControlName="vivirBienRaiz2">
                  <mat-option *ngFor="let op of options" [value]="op.codigo">{{op.texto}}</mat-option>
                </mat-select>
              </mat-form-field> 
              <mat-error *ngIf="contactForm.get('vivirBienRaiz2').hasError('required')
              && contactForm.get('vivirBienRaiz2').touched" >
                Campo requerido
              </mat-error> 
            </div>    
          </div>
        </div>
    </li>
    <mat-divider></mat-divider>
    <br>

    <li>
      <div class="container">
        <div class="row">    
          <div class="col-sm">
            <h3>¿Eres el único titular de este bien raíz?</h3>  
            </div> 
            <div class="col-sm">          
            <mat-form-field appearance="">
                <mat-label>Seleccione</mat-label>
                <mat-select (selectionChange)="eventoBienRaiz1($event)"
                 formControlName="titularBienRaiz2">
                  <mat-option *ngFor="let op of options" [value]="op.codigo">{{op.texto}}</mat-option>
                </mat-select>
              </mat-form-field>  
              <mat-error *ngIf="contactForm.get('titularBienRaiz2').hasError('required')
              && contactForm.get('titularBienRaiz2').touched">
                Campo requerido
              </mat-error>               
            </div>    
          </div>
        </div>
    </li>
    <mat-divider></mat-divider>
    <br>

    <div *ngIf="bienRaiz1">
        <h3>¿Cuál es el porcentaje  de este bien inmueble que te corresponde?</h3>  
      <div class="container">
        <div class="row">        
          <div class="col-sm">
            <mat-form-field >         
              <mat-label>Porcentaje</mat-label>
              <input matInput placeholder="Ej.50%" type="number" 
              formControlName="porcentajeBienRaiz2">
            </mat-form-field>        
          </div>
    
          <div class="col-sm">
            <div class="container3">
              <p>{{contactForm.value.porcentajeBienRaiz2 | number:"2.1-2"}}%</p>
            </div>      
          </div>
    
        </div>
      </div>
      <mat-divider></mat-divider>       
    </div>

    <h2><strong>Valor fiscal #1: Costo de adquisición</strong></h2>
    
    <li>        
        <div class="container">
          <div class="row">    
            <div class="col-sm">
              <h3>¿Adquiriste este bien raiz antes del año 2019?</h3>
              </div>
              <div class="col-sm">
              <mat-form-field appearance="">
                  <mat-label>Seleccione</mat-label>
                  <mat-select (selectionChange)="eventoCompraBienRaiz2($event)"
                  formControlName="adquisicionBienRaiz2">
                    <mat-option *ngFor="let op of options" [value]="op.codigo">{{op.texto}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-error *ngIf="contactForm.get('adquisicionBienRaiz2').hasError('required')
                && contactForm.get('adquisicionBienRaiz2').touched" >
                  Campo requerido
                </mat-error>    
              </div>
              </div>
             <mat-divider></mat-divider>   


             <div *ngIf="bienRaiz2">
              <h3>¿Fecha en que compraste el bien raiz(aproximada)?</h3>  
              <div class="container">
                <div class="row">            
                  <mat-form-field color="accent" appearance="fill">
                    <mat-label>Selecciona una fecha</mat-label>
                    <input matInput [matDatepicker]="picker1"
                     formControlName="fechaAdquisicionBienRaiz2">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1 ></mat-datepicker>
                  </mat-form-field> 
                  <mat-error *ngIf="contactForm.get('fechaAdquisicionBienRaiz2').hasError('required')
                && contactForm.get('fechaAdquisicionBienRaiz2').touched" >
                  Campo requerido
                </mat-error>                              
                </div>                  
            </div>
          </div>

        </div>
      </li>
      <mat-divider></mat-divider>
      <br>

      <li>
        <h3>Precio de compra:</h3>  
        <div class="container">
          <div class="row">         
            <div class="col-sm">
              <mat-form-field >         
                <mat-label>Valor</mat-label>
                <input matInput placeholder="Ingresa un valor" type="number" formControlName="precioCompraBienRaiz2">
              </mat-form-field>        
            </div>
      
            <div class="col-sm">
              <div class="container3">
                <p>${{contactForm.value.precioCompraBienRaiz2 | number:"2.1-2"}}</p>
              </div>      
            </div>
      
          </div>
        </div>
        <mat-divider></mat-divider>
      </li> 


      <li>
        <div class="container">
          <div class="row">    
            <div class="col-sm">
              <h3>¿Realizaste mejoras a este bien desde la fecha de adquisición hasta el 31 de diciembre de 2019?</h3>  
              </div>
              <div class="col-sm">
              <mat-form-field appearance="">
                  <mat-label>Seleccione</mat-label>
                  <mat-select (selectionChange)="eventoCompraBienRaiz4($event)"
                   formControlName="mejorasBienRaiz2">
                    <mat-option *ngFor="let op of options" [value]="op.codigo">{{op.texto}}</mat-option>
                  </mat-select>
                </mat-form-field> 
                <mat-error *ngIf="contactForm.get('mejorasBienRaiz2').hasError('required')
                && contactForm.get('mejorasBienRaiz2').touched" >
                  Campo requerido
                </mat-error>   
              </div>   
            </div>
          </div>
      </li>
      <mat-divider></mat-divider>    
  
    <div *ngIf="bienRaiz4">
      <h3>Mejoras y valorizaciones realizadas a este bien hasta el 31 de diciembre 2019:</h3>  
      <div class="container">
        <div class="row">          
          <div class="col-sm">
            <mat-form-field >         
              <mat-label>Valor mejoras y valorizaciones</mat-label>
              <input matInput placeholder="Ingresa un valor" type="number"
              formControlName="valorMejorasBienRaiz2">
            </mat-form-field>        
          </div>
    
          <div class="col-sm">
            <div class="container3">
              <p>${{contactForm.value.valorMejorasBienRaiz2 | number:"2.1-2"}}</p>
            </div>      
          </div>    
        </div>
      </div>
    </div>

      <div *ngIf="bienRaiz2">        
        <h2><strong>Valor fiscal #2: Reajuste de valor</strong></h2>  
        <li>  
          <div class="container">
            <div class="row">    
              <div class="col-sm">
                <h3>¿Sabes el valor por el cuál reportaste este bien en la declaración de renta del año gravable 2018?</h3>
                </div>
                <div class="col-sm">
                <mat-form-field appearance="">
                    <mat-label>Seleccione</mat-label>
                    <mat-select (selectionChange)="eventoCompraBienRaiz3($event)">
                      <mat-option *ngFor="let op of options" [value]="op.codigo">{{op.texto}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>      
              </div>
            </div>
        </li>        
        </div>
        <mat-divider></mat-divider>

  <div *ngIf="bienRaiz3">    
      <h3>Valor reportado en la declaración de renta del año gravable 2018 por este bien (ingresa sólamente el valor correspondiente al porcentaje que te pertenece)</h3>  
      <div class="container">
        <div class="row">        
          <div class="col-sm">
            <mat-form-field >         
              <mat-label>Valor declarado</mat-label>
              <input matInput placeholder="Ingresa un valor" type="number"formControlName="valorDeclaracionBienRaiz2">
            </mat-form-field>        
          </div>
    
          <div class="col-sm">
            <div class="container3">
              <p>${{contactForm.value.valorDeclaracionBienRaiz2 | number:"2.1-2"}}</p>
            </div>      
          </div>    
        </div>
      </div>
      <mat-divider></mat-divider>


      <h3>Mejoras y valorizaciones a este bien desde el 1° de enero del 2019 hasta el 31 de diciembre de 2019:</h3>  
      <div class="container">
        <div class="row">          
          <div class="col-sm">
            <mat-form-field >         
              <mat-label>(*Este valor es opcional)</mat-label>
              <input matInput placeholder="Ingresa un valor" type="number"formControlName="mejoras2019BienRaiz2">
            </mat-form-field>        
          </div>
    
          <div class="col-sm">
            <div class="container3">
              <p>${{contactForm.value.mejoras2019BienRaiz2 | number:"2.1-2"}}</p>
            </div>      
          </div>    
        </div>
      </div>
  </div>    
</ol>
</form>
<!--****************************finish Inmueble2*******************--> 

<!--**************************Start Inmueble 3*** -->
  <form [formGroup]="contactForm" (ngSubmit)="bienRaiz($event)">
    <ol *ngIf="inmueble3">
      <h2 class="color" style="text-align: center;"><strong>Bien Raiz No.3</strong></h2> 

     <li>
      <div class="container">
        <div class="row">    
          <div class="col-sm">
            <h3>¿Viviste en este bien raíz?</h3>  
            </div> 
            <div class="col-sm">          
            <mat-form-field appearance="">
                <mat-label>Seleccione</mat-label>
                <mat-select formControlName="vivirBienRaiz3">
                  <mat-option *ngFor="let op of options" [value]="op.codigo">{{op.texto}}</mat-option>
                </mat-select>
              </mat-form-field> 
              <mat-error *ngIf="contactForm.get('vivirBienRaiz3').hasError('required')
              && contactForm.get('vivirBienRaiz3').touched" >
                Campo requerido
              </mat-error> 
            </div>    
          </div>
        </div>
    </li>
    <mat-divider></mat-divider>
    <br>

    <li>
      <div class="container">
        <div class="row">    
          <div class="col-sm">
            <h3>¿Eres el único titular de este bien raíz?</h3>  
            </div> 
            <div class="col-sm">          
            <mat-form-field appearance="">
                <mat-label>Seleccione</mat-label>
                <mat-select (selectionChange)="eventoBienRaiz1($event)"
                 formControlName="titularBienRaiz3">
                  <mat-option *ngFor="let op of options" [value]="op.codigo">{{op.texto}}</mat-option>
                </mat-select>
              </mat-form-field>  
              <mat-error *ngIf="contactForm.get('titularBienRaiz3').hasError('required')
              && contactForm.get('titularBienRaiz3').touched">
                Campo requerido
              </mat-error>               
            </div>    
          </div>
        </div>
    </li>
    <mat-divider></mat-divider>
    <br>

    <div *ngIf="bienRaiz1">
        <h3>¿Cuál es el porcentaje  de este bien inmueble que te corresponde?</h3>  
      <div class="container">
        <div class="row">        
          <div class="col-sm">
            <mat-form-field >         
              <mat-label>Porcentaje</mat-label>
              <input matInput placeholder="Ej.50%" type="number" 
              formControlName="porcentajeBienRaiz3">
            </mat-form-field>        
          </div>
    
          <div class="col-sm">
            <div class="container3">
              <p>{{contactForm.value.porcentajeBienRaiz3 | number:"2.1-2"}}%</p>
            </div>      
          </div>
    
        </div>
      </div>
      <mat-divider></mat-divider>       
    </div>

    <h2><strong>Valor fiscal #1: Costo de adquisición</strong></h2>
    
    <li>        
        <div class="container">
          <div class="row">    
            <div class="col-sm">
              <h3>¿Adquiriste este bien raiz antes del año 2019?</h3>
              </div>
              <div class="col-sm">
              <mat-form-field appearance="">
                  <mat-label>Seleccione</mat-label>
                  <mat-select (selectionChange)="eventoCompraBienRaiz2($event)"
                  formControlName="adquisicionBienRaiz3">
                    <mat-option *ngFor="let op of options" [value]="op.codigo">{{op.texto}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-error *ngIf="contactForm.get('adquisicionBienRaiz3').hasError('required')
                && contactForm.get('adquisicionBienRaiz3').touched" >
                  Campo requerido
                </mat-error>    
              </div>
              </div>
             <mat-divider></mat-divider>   


             <div *ngIf="bienRaiz2">
              <h3>¿Fecha en que compraste el bien raiz(aproximada)?</h3>  
              <div class="container">
                <div class="row">            
                  <mat-form-field color="accent" appearance="fill">
                    <mat-label>Selecciona una fecha</mat-label>
                    <input matInput [matDatepicker]="picker1"
                     formControlName="fechaAdquisicionBienRaiz3">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1 ></mat-datepicker>
                  </mat-form-field> 
                  <mat-error *ngIf="contactForm.get('fechaAdquisicionBienRaiz3').hasError('required')
                && contactForm.get('fechaAdquisicionBienRaiz3').touched" >
                  Campo requerido
                </mat-error>                              
                </div>                  
            </div>
          </div>

        </div>
      </li>
      <mat-divider></mat-divider>
      <br>

      <li>
        <h3>Precio de compra:</h3>  
        <div class="container">
          <div class="row">         
            <div class="col-sm">
              <mat-form-field >         
                <mat-label>Valor</mat-label>
                <input matInput placeholder="Ingresa un valor" type="number" formControlName="precioCompraBienRaiz3">
              </mat-form-field>        
            </div>
      
            <div class="col-sm">
              <div class="container3">
                <p>${{contactForm.value.precioCompraBienRaiz3 | number:"2.1-2"}}</p>
              </div>      
            </div>
      
          </div>
        </div>
        <mat-divider></mat-divider>
      </li> 


      <li>
        <div class="container">
          <div class="row">    
            <div class="col-sm">
              <h3>¿Realizaste mejoras a este bien desde la fecha de adquisición hasta el 31 de diciembre de 2019?</h3>  
              </div>
              <div class="col-sm">
              <mat-form-field appearance="">
                  <mat-label>Seleccione</mat-label>
                  <mat-select (selectionChange)="eventoCompraBienRaiz4($event)"
                   formControlName="mejorasBienRaiz3">
                    <mat-option *ngFor="let op of options" [value]="op.codigo">{{op.texto}}</mat-option>
                  </mat-select>
                </mat-form-field> 
                <mat-error *ngIf="contactForm.get('mejorasBienRaiz3').hasError('required')
                && contactForm.get('mejorasBienRaiz3').touched" >
                  Campo requerido
                </mat-error>   
              </div>   
            </div>
          </div>
      </li>
      <mat-divider></mat-divider>    
  
    <div *ngIf="bienRaiz4">
      <h3>Mejoras y valorizaciones realizadas a este bien hasta el 31 de diciembre 2019:</h3>  
      <div class="container">
        <div class="row">          
          <div class="col-sm">
            <mat-form-field >         
              <mat-label>Valor mejoras y valorizaciones</mat-label>
              <input matInput placeholder="Ingresa un valor" type="number"
              formControlName="valorMejorasBienRaiz3">
            </mat-form-field>        
          </div>
    
          <div class="col-sm">
            <div class="container3">
              <p>${{contactForm.value.valorMejorasBienRaiz3 | number:"2.1-2"}}</p>
            </div>      
          </div>    
        </div>
      </div>
    </div>

      <div *ngIf="bienRaiz2">        
        <h2><strong>Valor fiscal #2: Reajuste de valor</strong></h2>  
        <li>  
          <div class="container">
            <div class="row">    
              <div class="col-sm">
                <h3>¿Sabes el valor por el cuál reportaste este bien en la declaración de renta del año gravable 2018?</h3>
                </div>
                <div class="col-sm">
                <mat-form-field appearance="">
                    <mat-label>Seleccione</mat-label>
                    <mat-select (selectionChange)="eventoCompraBienRaiz3($event)">
                      <mat-option *ngFor="let op of options" [value]="op.codigo">{{op.texto}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>      
              </div>
            </div>
        </li>        
        </div>
        <mat-divider></mat-divider>

  <div *ngIf="bienRaiz3">    
      <h3>Valor reportado en la declaración de renta del año gravable 2018 por este bien (ingresa sólamente el valor correspondiente al porcentaje que te pertenece)</h3>  
      <div class="container">
        <div class="row">        
          <div class="col-sm">
            <mat-form-field >         
              <mat-label>Valor declarado</mat-label>
              <input matInput placeholder="Ingresa un valor" type="number"formControlName="valorDeclaracionBienRaiz3">
            </mat-form-field>        
          </div>
    
          <div class="col-sm">
            <div class="container3">
              <p>${{contactForm.value.valorDeclaracionBienRaiz3 | number:"2.1-2"}}</p>
            </div>      
          </div>    
        </div>
      </div>
      <mat-divider></mat-divider>


      <h3>Mejoras y valorizaciones a este bien desde el 1° de enero del 2019 hasta el 31 de diciembre de 2019:</h3>  
      <div class="container">
        <div class="row">          
          <div class="col-sm">
            <mat-form-field >         
              <mat-label>(*Este valor es opcional)</mat-label>
              <input matInput placeholder="Ingresa un valor" type="number"formControlName="mejoras2019BienRaiz3">
            </mat-form-field>        
          </div>
    
          <div class="col-sm">
            <div class="container3">
              <p>${{contactForm.value.mejoras2019BienRaiz3 | number:"2.1-2"}}</p>
            </div>      
          </div>    
        </div>
      </div>
  </div>    
    
</ol>
</form>
  
<!--****************************finish Inmueble3*******************--> 

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Salir</button>
  <button mat-button type="submit" (click)="bienRaiz($event)"
  mat-flat-button color="primary" [disabled]="contactForm.invalid">Guardar respuestas
</button>
</mat-dialog-actions>

  
