<h2 mat-dialog-title>Certificado Ministerio de Relaciones Exteriores.
    <mat-icon matTooltip="Esta información es importante porque permite tomar un valor como deducción, con el fin de disminuir tu impuesto de renta a pagar.">description</mat-icon>
    </h2>
    <mat-dialog-content class="mat-typography">
    
      <form [formGroup]="contactForm"(ngSubmit)="exterioresForm($event)">
        <ul>
        <li>
            <h3>Ingresa el valor de la prima especial y de costo de vida que recibiste durante el 2019 como servidor público del Ministerio de Relaciones Exteriores, asociada a este salario:</h3>  
            <div class="container">
              <div class="row">       
                <div class="col-sm">
                  <mat-form-field >         
                    <mat-label>Ingresa valor</mat-label>
                    <input matInput placeholder="Ingresa un valor" type="number"
                    formControlName="exteriores">
                  </mat-form-field>     
                  <mat-error *ngIf="contactForm.get('exteriores').hasError('required')
                  && contactForm.get('exteriores').touched" >
                    Campo requerido
                  </mat-error>    
                </div>
                <div class="col-sm">
                  <div class="container3">
                    <p>${{contactForm.value.exteriores | number:"2.1-2"}}</p>
                  </div>      
                </div>
              </div>
            </div>
            <mat-divider></mat-divider>
          </li> 
        </ul>
      </form>

      </mat-dialog-content>
      <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Salir</button>
        <button mat-button type="submit" (click)="exterioresForm($event)"[disabled]="contactForm.invalid"
        mat-flat-button color="primary" cdkFocusInitial>Guardar respuestas
      </button>
      </mat-dialog-actions>