<h2 mat-dialog-title>EFECTIVO 
    <mat-icon matTooltip="Simplemente debes ingresar la cantidad de efectivo que tenías a diciembre 31 de 2019.">description</mat-icon>
  </h2>
  <mat-dialog-content class="mat-typography">
  
    <form [formGroup]="contactForm" (ngSubmit)="efectivo($event)">
    <ul>
     <h4>Por favor responde la siguiente pregunta:</h4>

 <li>
    <h3>Saldo a 31 de diciembre de 2019</h3>  
    <div class="container">
      <div class="row">           
  
        <div class="col-sm">
          <mat-form-field >         
            <mat-label>Saldo</mat-label>
            <input matInput placeholder="Ingresa un valor" type="number"
            formControlName="saldoEfectivo">
          </mat-form-field>
          <mat-error *ngIf="contactForm.get('saldoEfectivo').hasError('required')
          && contactForm.get('saldoEfectivo').touched">
            Campo requerido
        </mat-error>
                  
        </div>
  
        <div class="col-sm-4">
          <div class="container3">
            <p>${{contactForm.value.saldoEfectivo | number:"2.1-2"}}</p>
          </div>      
        </div>
  
      </div>
    </div>
    <mat-divider></mat-divider>
</li> 
</ul>
</form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Salir</button>
  <button mat-button type="submit" (click)="efectivo($event)"
  mat-flat-button color="primary" cdkFocusInitial>Guardar respuestas
</button>
</mat-dialog-actions>

